*~
*.o
a.out
.DS_Store
._.DS_Store
*.dSYM
conf/vim/.netrwhist

## tex
*.aux
*.bbl
*.blg
*.log
*.out
*.out.bak
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.tex.bak
*.pdf
*.nav
*.snm
*.vrb

## metapost
*.mps
*.mpx

## redis
*.rdb

## java
.class

.vscode

## blade
conf/vim/*/blade*
