*~
*.o
a.out
.DS_Store
._.DS_Store
conf/.vim/.netrwhist

## tex
*.aux
*.bbl
*.blg
*.log
*.out
*.out.bak
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.tex.bak
*.pdf
*.nav
*.snm
*.vrb

latex/test.tex
*.txt

## metapost
*.mps
*.mpx

## opencv
CMakeFiles
cmake_install.cmake
*.jpg
demo/api/opencv/Makefile
demo/api/opencv/demo
demo/api/opencv/demo.cpp

